/MyAssigment/nbproject/private/
/SE1631/nbproject/private/
/SE1631/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Test2/nbproject/private/
/Test2/build/
/SE1634/nbproject/private/
/SE1634/build/
/SE1634/dist/
/jdfgvbjkădfị/nbproject/private/
/JDBC/nbproject/private/
/JDBC/build/
/StudentManagement/nbproject/private/
/StudentManagement/build/
/StudentManagement/dist/
/PE1/nbproject/private/
/PE1/build/
/PE1/dist/
/PRJ_ASS/nbproject/private/
/PRJ_ASS/build/
